<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
    <%= stylesheet_link_tag "standardize.css" %>
    <%= stylesheet_link_tag "index-grid.css"%>
    <%= stylesheet_link_tag "index.css" %>
</head>
<body class="body index clearfix">
  <p class="text text-1">future corp</p>

  <div class="element"></div>
</body>
</html>