<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "standardize.css" %>
  <%= stylesheet_link_tag "index-grid.css"%>
  <%= stylesheet_link_tag "index.css" %>
</head>
<body>

<%= yield %>

</body>
</html>
